.hidden {
    display: none;
}

#categories img, #items img {
    height: 40px;
}


#item-detail {
    position: relative;
}

#item-detail thead {
    width: 100%;
}

#prototypes {
    display: none;
}
